# --- BÜYÜK VERİ İŞLEME (Spark) ---
pyspark==4.1.0

# --- VERİ İŞLEME VE ANALİZ ---
pandas
numpy

# --- MAKİNE ÖĞRENMESİ (Random Forest) ---
scikit-learn

# --- DRIFT TESPİTİ (ADWIN) ---
river

# --- İZLEME VE METRİKLER (Grafana & Prometheus) ---
prometheus_client
mlflow

# --- DEPOLAMA (MinIO Bağlantısı) ---
boto3

# --- GÖRSELLEŞTİRME (Eski scriptler için gerekirse) ---
matplotlib
seaborn
